.ensign-wraper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;

  img {
    margin-top: 5px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 36px;
  }
}

.mash-wraper {
  display: flex;
  height: 100%;

  .cat-mash {
    position: absolute;
    top: calc(50% - 150px);
    overflow: hidden;
    border: 5px solid #fff;
    border-radius: 107px 97px 13px 99px;
    transform: rotate(45deg);
    cursor: pointer;

    img {
      max-width: 240px;
      min-width: 240px;
      max-height: 240px;
      min-height: 240px;
      margin: -13px -42px -33px -5px;
      transform: rotate(-45deg);
    }
  }

  .left-wraper {
    position: relative;
    flex: 1;
    background: #ecf0f3;

    .cat-mash {
      right: 100px;
    }
  }

  .right-wraper {
    position: relative;
    flex: 1;
    background: #f7f7f7;

    .cat-mash {
      left: 100px;
    }
  }
}

.btn-go-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: calc(50% - 170px);
  z-index: 2;
  width: 340px;
  height: 56px;
  border: 3px solid #eee;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background: #f7f7f7;
  font-size: 19px;
  color: #5b6064;
  cursor: pointer;

  span {
    font-size: 14px;
  }
}
