:host {
  display: block;
  background: #ecf0f3;
}

.btn-go-to-page-vote {
  position: fixed;
  top: 0;
  left: calc(50% - 103px);
  z-index: 2;
  width: 206px;
  height: 45px;
  border: 3px solid #fff;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background: #f7f7f7;
  font-size: 18px;
  color: #5b6064;
  cursor: pointer;
}

h1 {
  margin: 42px 0 35px;
  text-align: center;
}
